html
{ 
  height: 100%;
  background-image:url(background.jpg);
  background-attachment: fixed;
  padding:20px;
}

body
{ 

  font-family:georgia,garamond,serif;
  background: #FFCC00;
  color: #000000;
  padding:10px;
}

h1, h2
{ color: #A4A400;
  background: #F0F0F0;
  font-family:Century Gothic, Futura, Verdana;
  text-align: center;
  letter-spacing:0.5px;
}

h3
{ color: #A4A400;
  background: #F0F0F0;
  font-family:Century Gothic, Futura, Verdana;
  text-align: left;
  letter-spacing:0.5px;
}

span.bold
{
 font-weight:bold
}

table {
	border-collapse: collapse;
   	background-color:#CC9933;
	color:#FFFFFF;
	margin-top:20px;
}

th {
    text-align: center;
	background-color:#003366;
	color:#FFFFFF;
	border:solid;
	border-color:#FFFFFF;
	border-width:2px;
	padding:5px;
}

td
{
	border:solid;
	border-color:#FFFFFF;
	border-width:2px;
	padding:5px;
}

caption.ft
{
	font-weight:bold;
	font-family:Century Gothic, Futura, Verdana;
	background: #F0F0F0;
	color: #A4A400;
}

	
iframe
{
float:right;
}
	
#nav {
    float:left;
	margin-left:50px;
    padding:0px;	      
}

ul#menu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
   
}
ul#menu li{
 display: inline;
 font-family:Berlin Sans FB;
 color:#F0F0F0;
}

ul#menu li a {
    background-color: #DCD191;
    color: blue;
    padding: 6px;
    text-decoration: none;
	border-right-color:blue;
	border-right-style:solid;
	border-right-width:10px;
	overflow:hidden;
}

ul#menu li a:hover {
    background-color: #F0F0F0;
}
